div.box {
	width: 300px;
	padding: 150px;
	border: 1px solid #000;
	margin: 150px auto;
}
.login_button {
	border: 1px solid #ccc;
  	border-radius: 20px;
  	width: 75px;
  	text-indent: 7.5px;
  	height: 30px;
  	margin-left: 130px;
  	color: #fff;
  	background-color: #2B84E0;
  	padding-left: 25px;
  	padding-top: 10px;
  	cursor: pointer;

}
.login_detail {
	font-size: 20px;
	margin-bottom: 15px;
}