<!DOCTYPE html>
<html ng-app="login">
<head>
	<title>Welcome! Please Login!</title>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/login.css">
</head>
<body ng-controller="loginCtrl">
 <div class="box">
 	<div class="login_container">
	 	<div class="login_detail">Username : <input type="text"></div>
	 	<div class="login_detail">Password : <input style="margin-left:5px;" type="text"></div>
	 	<div class="login_button">Login</div>
 	</div>
 </div>
</body>
<script src="static/js/angular.min.js"></script>
</html>